/* Our CSS file. */
.container, .content {
    height: 200%;
    width: 100px;;
}
.row{
    display:block;
    border: 1px solid rgb(164, 240, 240);
    margin: 2px;
    padding: 15px;
    width:auto;
    background: lightgoldenrodyellow;
}

.mylist,.col1{
    display: inline-block;
    width: 40%;

}
.image2,.col2{
    display:inline-block;
    width: 40%;
    margin-left: 10px;
    margin-right: 10px;
    margin: 10px 10px 10px 10px;
}
img{
    display:inline-block;
    width: 300px;
    height: 200px;
}
