/* Our CSS file. */


.container, .content {
width: 100%;
display: block;
}
.upper{
    display: inline-block;
    width: 99%;
    height: 56vh;
    margin: 5px;
    background-color: #F2F2F2;
}
.left,.right{
    display: inline-block;
    height: 40vh;
}
.left{
    width: 46%;
    margin: 15px;
    margin-left: 15px;
    text-align: left;
    padding: 2px;

}
.left h1 p {
    margin-left: 15%;
    margin: 10px;
    padding: 10px;

}
.btn1{
    margin: 10px;
    width: 50%;
    height: 60px;
    background-color: rgb(215, 238, 5);
    color: white;
    border-radius: 15px;
    font-family: monospace;
}
.right{
    width: 46%;
    margin: 15px;
    vertical-align: top;

}
.lower{
    height: 85vh;
    background-color: #F2F2F2;
    margin: 5px;
}
.left2,.right2{
    display: block;
}
.left2{
    margin: 15px;
    margin-left: 15px;
    text-align: center;
    padding: 2px;

}
.left2 h1 p{
    padding: 2%;

}
.btn2{
    margin: 10px;
    width: 30%;
    height: 60px;
    background-color: rgb(45, 238, 190);
    color: white;
    font-family: monospace;
    border-radius: 15px;
}
.right2{
    margin: 15px;
    text-align: center;
    height: 47vh;

}