/* Our CSS file. */
body{
    border: 2px solid lightseagreen;
    border-radius: 15px;
}
.container, .content {
    width: 100%;
    height: 100%;
    margin: 2px solid rgb(185, 156, 156);
    
}
.page_head1{
    display:block;
    background: lightskyblue;
    height: 9vh;
    padding: 15px;
    border-radius: 15px;
    margin: 5px;
    border: 2px;
}
.logo{
    height: 75px;
    width: 75px;

}
.page_head1 form{
    display: inline-block;
    float: right;
    margin:20px auto;
    
}
.page_head1 form input {
    height: 30px;}
.page_head2{
    display:block;
    background: lightsteelblue;
    padding: 5px;
    border-radius: 15px;
    margin: 4px;
    text-align: center;
}

.ul-1,ul li{
    display: inline-block;
    font-style: italic;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

}
.middle{
    display: inline-block;
    margin:5px;
    vertical-align: top;

}
.lefty{
    background:  rgb(149, 248, 248);
 
    border-radius: 10px;
    border: 2px solid mediumaquamarine;
    height: 73vh;
    width: 160%;
}
 .lefty ul li{
    display:block;
    padding: 17px 7px;
    margin: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 }   

.mid-left,.mid-img,.mid-right{
    display: inline-block;
}
.mid-img{
    width: 70%;
    border: 2px solid aquamarine;
    padding: 5px;
    width: 74%;
    margin: 3px ;
    border-radius: 10px;
    margin-left: 80px;
    
}
#main-content-section{
    height: 120%;
    
   
}


.top-img,.bottom-img{
    display: block;
    padding: 15px 20px;

}
.post-img{
    height: 300px;
    width: 380px;
    margin: 0px 15px;
}
.righty{
    border-radius: 15px;
    display: block;
    background: rgb(173, 236, 252);
    margin: 2px;
    border: 2px solid mediumaquamarine;
    padding: 3px;
    height: 73vh;
}
.righty ul li{
    display: block;
    padding: 15px;
    height: 4vh;
   
}
.mid-right{
    vertical-align: top;
}

footer{
    background: rgb(235, 247, 127);
    text-align: center;
    margin: 5px;
    border-radius: 15px;
    padding: 4px;
    border: 2px solid rgb(186, 252, 101);
}